
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro:100');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


 html, body {
                background-color: #fff;
                color: #636b6f;
                //font-family: 'Source Sans Pro', sans-serif;
                font-family: 'Roboto', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 89vh;
            }

            .flex-left {
                align-items: center;
                display: flex;
                justify-content: center;
                flex-direction: row;
            }

            .flex-column {
              align-items: center;
              display: flex;
              justify-content: center;
              flex-direction: column;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

.main-left {
  background-color: white;
  width: 50%;
  height: 100%;
}

.main-right {
  background-color: black;
  width: 50%;
  height: 100%;
}

.main-right-image {
  max-width: 100%;
  display: flex;
 // background-image: url("{{ asset('assets/img/background.png') }}") 
}

.boalt-logo-main {
  width: 176px;
  height: 32px;
  margin-left: 40px;
  margin-top:40px;
}

.main-left-text {
  font-size: 3em;
  color:white;
  margin-left:48px;
  margin-top: 352px;
  height: 236px;
  
}

.main-right-line {
  color:red;
  margin-right:5px;
  margin-top:12px;
  border-bottom :1px solid red;
  width:365px;
  float:left;
}
.main-right-text {
  color:red;
  float:left;
  font-size:16px;
}


.footer-rectangle{
  display:flex;
  flex-direction:row;
  height:107px;
  width:100%;
  background-color: #D8D8D8;
}

.circle-link {
    position: relative;
    top: 45px;
    right: 27px;
    cursor:pointer;
}

.footer-logo {
  height: 100%;
  border-right: 1px solid #C1B7B7;
  width: 12.5%;
  display:flex;
}


.boalt-logo-connect {
  margin-top:40px;
  width: 176px;
  height: 32px;
  
}

.connect-header {
  color: white;
  font-size: 2em;
}

#connect-form {
  position: relative;
  bottom: 650px;
  width: 580px;
  margin: auto;
  color:white;

}

input[type=text] {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: #E11331;
  margin-bottom: 20px;
  height:48px;
  color:#FFFFFF;
  width:100%;
  padding: 10px;
  
}


::placeholder {
  color: #FFFFFF;
  
  opacity: .5;
}

textarea#styled {
	width: 100%;
	height: 200px;
	border: 1px solid #FFFFFF;
  padding: 10px;
  background-color: #E11331;
  border-radius: 4px;

}